service: trackovid19-backend

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-1
  stage: ${opt:stage, 'dev'}
  environment:
    AWS_EXECUTION_ENV: ${opt:stage, 'dev'}
    DB_HOST: ${self:custom.DB_HOST.${opt:stage, 'dev'}}
    DB_USER: ${self:custom.DB_USER.${opt:stage, 'dev'}}
    DB_PASS: ${self:custom.DB_PASS.${opt:stage, 'dev'}}
    DB_NAME: ${self:custom.DB_NAME.${opt:stage, 'dev'}}
    DB_PORT: ${self:custom.DB_PORT.${opt:stage, 'dev'}}
    FB_APP_ID: ${self:custom.FB_APP_ID.${opt:stage, 'dev'}}
    FB_APP_SECRET: ${self:custom.FB_APP_SECRET.${opt:stage, 'dev'}}
    FB_CALLBACK_URL: ${self:custom.FB_CALLBACK_URL.${opt:stage, 'dev'}}
    AFTER_LOGIN_CALLBACK_URL: ${self:custom.AFTER_LOGIN_CALLBACK_URL.${opt:stage, 'dev'}}
    JWT_SECRET: ${self:custom.JWT_SECRET.${opt:stage, 'dev'}}
    HOME_URL: ${self:custom.HOME_URL.${opt:stage, 'dev'}}
    GCM_API_KEY: ${self:custom.GCM_API_KEY.${opt:stage, 'dev'}}
    VAPID_PRIVATE_KEY: ${self:custom.VAPID_PRIVATE_KEY.${opt:stage, 'dev'}}
    VAPID_PUBLIC_KEY: ${self:custom.VAPID_PUBLIC_KEY.${opt:stage, 'dev'}} 
    VAPID_SUBJECT: ${self:custom.VAPID_SUBJECT.${opt:stage, 'dev'}} 
    AES_256_KEY: ${self:custom.AES_256_KEY.${opt:stage, 'dev'}} 
    PRODUCTION: ${self:custom.PRODUCTION.${opt:stage, 'dev'}}
    AWS_REGION: ${self:custom.AWS_REGION.${opt:stage, 'dev'}}  
    AWS_SNS_ACCESS_KEY_ID: ${self:custom.AWS_SNS_ACCESS_KEY_ID.${opt:stage, 'dev'}}  
    AWS_SNS_SECRET_ACCESS_KEY: ${self:custom.AWS_SNS_SECRET_ACCESS_KEY.${opt:stage, 'dev'}}  
    AWS_SNS_TOPICARN: ${self:custom.AWS_SNS_TOPICARN.${opt:stage, 'dev'}}  

functions:
  app:
    handler: app.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: /{proxy+}
          method: ANY

# Custom Variables
custom:
  stages:
    - dev
    - staging
    - prd
  FB_APP_ID:
    dev: 142877133789647
    staging: 139971950784932
    prd: 246657783167062
  FB_APP_SECRET:
    dev: ${opt:fb_secret, 'FB_SECRET_DEV'}
    staging: ${opt:fb_secret, 'FB_SECRET_STAGING'}
    prd: ${opt:fb_secret, 'FB_SECRET_PROD'}
  FB_CALLBACK_URL:
    dev: https://dev.api.covidografia.pt/api/v1
    staging: https://staging.api.covidografia.pt/api/v1
    prd: https://api.covidografia.pt/api/v1
  AFTER_LOGIN_CALLBACK_URL:
    dev: http://localhost:4200
    staging: https://staging.app.covidografia.pt
    prd: https://app.covidografia.pt
  DB_HOST:
    dev: staging.db.covidografia.pt
    staging: staging.db.covidografia.pt
    prd: db.covidografia.pt
  DB_NAME:
    dev: postgres
    staging: postgres
    prd: postgres
  DB_USER:
    dev: postgres
    staging: postgres
    prd: postgres
  DB_PASS:
    dev: ${opt:db_pass, 'PASSWORD_DEV'}
    staging: ${opt:db_pass, 'PASSWORD_STAGING'}
    prd: ${opt:db_pass, 'PASSWORD_PRD'}
  DB_PORT:
    dev: "54320"
    staging: "54320"
    prd: "54320"
  JWT_SECRET:
    dev: ${opt:jwt_secret, 'JWT_SECRET_DEV'}
    staging: ${opt:jwt_secret, 'JWT_SECRET_STAGING'}
    prd: ${opt:jwt_secret, 'JWT_SECRET_PROD'}
  HOME_URL:
    dev: http://localhost:4200
    staging: https://www.covidografia.pt
    prd: https://www.covidografia.pt
  GCM_API_KEY:
    dev: ${opt:gcm_api_key, 'GCM_API_KEY_DEV'} 
    staging: ${opt:gcm_api_key, 'GCM_API_KEY_STAGING'}
    prd: ${opt:gcm_api_key, 'GCM_API_KEY_PROD'}
  VAPID_PUBLIC_KEY:
    dev: BA5Tr13lfJCBPb9ZaXlTKUetDORnHROGI_S7cumwdDR9f-ZxYI-4Y2OvIC4WgZxcanE9znpKufP6wLA5kdIG2Ak
    staging: BA5Tr13lfJCBPb9ZaXlTKUetDORnHROGI_S7cumwdDR9f-ZxYI-4Y2OvIC4WgZxcanE9znpKufP6wLA5kdIG2Ak
    prd: BBEe8XE4MAZu390e-VzBCzjK_QyY4Zra0R6kY-wARxKxWbHOM-KgxSURL6FOzftYG9ht1UvMvONBzpKRxWaIJhU
  VAPID_PRIVATE_KEY:
    dev: ${opt:vapid_priv_key, 'VAPID_PRIVATE_KEY_DEV'} 
    staging: ${opt:vapid_priv_key, 'VAPID_PRIVATE_KEY_STAGING'}
    prd: ${opt:vapid_priv_key, 'VAPID_PRIVATE_KEY_PROD'}
  VAPID_SUBJECT:
    dev: http://localhost:4200
    staging: https://staging.app.covidografia.pt
    prd: https://app.covidografia.pt
  AES_256_KEY: 
    dev: ${opt:aes_key, 'AES_256_KEY_DEV'} 
    staging: ${opt:aes_key, 'AES_256_KEY_STAGING'}
    prd: ${opt:aes_key, 'AES_256_KEY_PROD'}
  PRODUCTION: 
    dev: 0
    staging: 0
    prd: 1
  AWS_REGION:
    dev: eu-west-1
    staging: eu-west-1
    prd: eu-west-1
  AWS_SNS_ACCESS_KEY_ID: 
    dev: AKIA3PHZAWHE536M366R
    staging: AKIA3PHZAWHE536M366R
    prd: AKIA3PHZAWHE536M366R
  AWS_SNS_SECRET_ACCESS_KEY: 
    dev: ${opt:aws_sns_secret, 'AWS_SNS_SECRET_ACCESS_KEY_DEV'}
    staging: ${opt:aws_sns_secret, 'AWS_SNS_SECRET_ACCESS_KEY_STAGING'}
    prd: ${opt:aws_sns_secret, 'AWS_SNS_SECRET_ACCESS_KEY_PROD'}
  AWS_SNS_TOPICARN: 
    dev: ${opt:aws_sns_topicarn, 'AWS_SNS_TOPICARN_DEV'}
    staging: ${opt:aws_sns_topicarn, 'AWS_SNS_TOPICARN_STAGING'}
    prd: ${opt:aws_sns_topicarn, 'AWS_SNS_TOPICARN_PROD'}

# Plugins
plugins:
  - serverless-stage-manager
