service: trackovid19-backend

frameworkVersion: ">=1.1.0 <2.0.0"

provider:
  name: aws
  runtime: nodejs12.x
  region: eu-west-1
  stage: ${opt:stage, 'dev'}
  environment:
    AWS_EXECUTION_ENV: ${opt:stage, 'dev'}
    DB_HOST: ${self:custom.DB_HOST.${opt:stage, 'dev'}}
    DB_USER: ${self:custom.DB_USER.${opt:stage, 'dev'}}
    DB_PASS: ${self:custom.DB_PASS.${opt:stage, 'dev'}}
    DB_NAME: ${self:custom.DB_NAME.${opt:stage, 'dev'}}
    DB_PORT: ${self:custom.DB_PORT.${opt:stage, 'dev'}}
 
functions:
  app:
    handler: app.handler
    events: 
      - http: 
          path: /
          method: ANY
      - http: 
          path: /{proxy+}
          method: ANY

# Custom Variables
custom:
  customDomain:
    domainName: ${opt:stage, 'dev'}.tech4covid19.pt
    endpointType: 'regional'
    certificateName: '*.tech4covid19.pt'
  stages:
    - dev
    - prd
  DB_HOST:
    dev: db-1-ireland.chq033ncjfv4.eu-west-1.rds.amazonaws.com
    prd: db-1-ireland.chq033ncjfv4.eu-west-1.rds.amazonaws.com
  DB_NAME:
    dev: postgres
    prd: postgres
  DB_USER:
    dev: postgres
    prd: postgres
  DB_PASS:
    dev: ${opt:db_pass, 'PASSWORD_DEV'}
    prd: ${opt:db_pass, 'PASSWORD_PRD'}
  DB_PORT:
    dev: '54320'
    prd: '54320'

# Plugins
plugins:
  - serverless-stage-manager
  - serverless-domain-manager
