on:
  push:
    branches:
      - test-deploy
name: Deploy master branch
jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: yarn
      uses: actions/yarn@master
      with:
        args: install
    - name: serverless deploy
      uses: serverless/github-action@master
      with:
        args: deploy --stage 'staging' --db_pass '${{ secrets.STAGING_DB_PASS }}' --fb_secret '${{ secrets.STAGING_FB_SECRET }}' --jwt_secret '${{ secrets.STAGING_JWT_SECRET }}'  --gcm_api_key '${{ secrets.STAGING_GCM_API_KEY }}' --vapid_priv_key '${{ secrets.STAGING_VAPID_PRIV_KEY }}' --aes_key '${{ secrets.STAGING_AES_KEY }}'  --aws_sns_secret '${{ secrets.STAGING_AWS_SNS_SECRET }}' --aws_sns_topicarn '${{ secrets.STAGING_AWS_SNS_TOPICARN }}' --google_secret '${{ secrets.STAGING_GOOGLE_SECRET }}'  --aws_s3_secret '${{ secrets.STAGING_AWS_S3_SECRET }}' 
      env:
        AWS_REGION: eu-west-1
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}